* {
	margin: 0;
	padding: 0;
}

body {
	height: 1800px;
	font-family: "NotoSansKR", sans-serif, Malgungothic, "留묒�怨좊뵓", Dotum, "�룍��";
	font-weight: 200;
	font-size: 15px;
	line-height: 1.6;
	color: #767572;
	letter-spacing: -0.025em;
	word-break: keep-all;
	word-wrap: break-word;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px 45px;
}

.header .util a {
	margin-left: 24px;
	color: #aea7a2;
	font-size: 13px;
}




/* 로그인 폼 */
.login-input-form {
	padding: 20px 35% 20px 35%;
	margin: 0 auto;
	text-align : center;
}

.form-entry {
	padding: 0 auto;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
}

.big {
	height: 56px;
	line-height: 54px;
	width: 100%;
	padding-left: 20px;
}

.login-surport {
	width: 100% !important;
	min-width: 300px;
	
}

.login-btn-li {
	padding-left: 2rem;
}

.login-btn {
	padding-left: 2rem;
}

.login-btn li button {
	width: 100%;
	background-color: black;
    color: white;
	font-weight: bold;
	height: 50px;
	min-width: 300px;
}

.btn {
	--bs-btn-color: white;

}

.login-sub {
	width: 100%;	
	margin-bottom: 10px;
}

.login-sub a {
	color: gray;
}

.btn-group{
	text-align: right;
    width: 430PX;
}