* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.contents {
  padding: 44px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .innercon {
  width: 1204px;
  display: flex;
  justify-content: center;
}

.contents .innercon .lnbarea {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 244px;
}

.contents .innercon .lnbarea h2 {
  color: #101010;
  font-size: 32px;
  font-weight: 600;
}

.contents .innercon .lnbarea .lnb-depth1 {
  padding-top: 28px;
}

.contents .innercon .lnbarea .lnb-depth1 a {
  line-height: 24px;
  color: #101010;
  font-size: 18px;
  font-weight: 600;
}

.contents .innercon .conarea {
  width: 960px;
}

.contents .innercon .conarea .tit {
  color: #101010;
  font-size: 24px;
  font-weight: 200;
  padding-bottom: 24px;
}

.conarea .confirmdata {
  padding-top: 50px;
  border-top: 2px solid #767572;
}

.conarea .confirmdata .icon_align {
  text-align: center;
}

.bi-check-circle {
  font-size: 100px;
}

.conarea .confirmdata h2 {
  color: #101010;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 4px;
}

.conarea .confirmdata p {
  color: #767572;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

.conarea .btns {
  margin-top: 50px;
  text-align: center;
}
.conarea .btns .btn_goCustoerMain {
  width: 276px;
  color: #101010;
  background-color: #fff;
  padding: 10px 0;
  font-weight: 900;
}
