* {
  margin: 0;
  padding: 0;
}

body {
  height: 1800px;
}
li {
  list-style: none;
}
a {
  color: #41464b;
  text-decoration: none !important;
}

.timesale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.timesale .inner {
  width: 502px;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timesale .time-inner {
  width: 502px;
  height: 502px;
  background: #f5eee9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.time-inner .time-cart {
  position: absolute;
  bottom: 8%;
  right: 20%;
}
.timesale .inner h2 {
  font-size: 40px;
}

.timesale .inner p {
  font-size: 18px;
  color: #767572;
}

.timesale .time-inner .thumb {
  position: relative;
}
.timesale .time-inner .thumb .sale-percent {
  width: 55px;
  height: 55px;
  background-color: #ff6913;
  position: absolute;
  bottom: 15%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timesale .time-inner .thumb .percent {
  margin: 0;
  color: white;
  font-size: 18px;
}

.timesale .time-inner .thumb img {
  width: 100%;
  height: 360px;
}

.timesale .time-inner .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timesale .time-inner .txt strong {
  max-height: 50px;
  line-height: 25px;
  color: #454545;
  font-size: 18px;
  font-weight: 200;
}

.timesale .time-inner .txt .price {
  font-size: 32px;
  font-weight: 700;
}

/* .chartForm {
	width: 700px;
	padding: 30px;
} */

/* exhibiton */
.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exhibition li {
  margin-bottom: 25px;
}
