/* * {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.contents {
  padding: 44px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents .innercon {
  width: 1204px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contents .innercon .test {
  padding-bottom: 80px;
}
.contents .innercon h2 {
  color: #101010;
  font-size: 32px;
  font-weight: 600;
}

.contents .innercon .shipping {
  display: block;
  width: 100%;
  border-top: 2px solid #767572;
}

.contents .innercon .shipping p {
  padding: 15px 0 17px;
  color: #101010;
  font-size: 24px;
}

.contents .innercon .shipping em {
  margin-left: 6px;
  line-height: 1;
  color: #ff6913;
  font-size: 24px;
  font-weight: 700;
}

.contents .innercon .productList {
  display: flex;
}

.contents .innercon .productList .basket_img img {
  height: 180px;
  width: 180px;
}

.contents .innercon .productList .prod_ctn {
  width: calc(100% - 130px);
  padding-left: 20px;
  padding-bottom: 55px;
  min-height: 124px;
  display: flex;
  flex-direction: column;
}

.contents .innercon .productList .prod_ctn .txt_ellipsis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents .innercon .productList .prod_ctn .txt_ellipsis p {
  margin-bottom: 4px;
  max-height: 48px;
  margin-top: 5px;
  height: auto;
  line-height: 24px;
  color: #101010;
  font-size: 18px;
}

.btn_delete {
  background-color: white;
  border: 1px;
}

.btn_delete i {
  color: #767572;
  font-size: 40px;
}

.contents .innercon .productList .prod_ctn .info {
  bottom: 8px;
  width: 100%;
}

css 추가
.productList {
	border-bottom: 1px solid lightgray;
	padding-top: 30px;
}

#ea-area-input {
	height: 40px;
    text-align: center;
    width: 100px;
    border: 1px solid lightgray;
}

#ea-area-btn {
	border-radius: 0px;
}

#txt-ellipsis-p {
	font-weight: bold;
	font-size: 1.2em;
}

#total {
	padding-top: 40px;
	font-weight: bold;
	color: #ff6913;
}

#btn_order-btn {
	border-radius: 0px;
    margin-top: 40px;
    float: right;
} */
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

i, p, div, span, li {
	margin: 0;
}

li {
	list-style: none;
}

.product-list {
	position: relative;
}

.list-field .product-list li {
	margin-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e7e7e7;
}

.product-list.vertical>li {
	display: flex; position : relative;
	float: none;
	margin-left: 0;
	width: 100%;
	position: relative;
}

.product-list.vertical .thumb {
	float: left;
	margin-right: 24px;
	width: 104px;
	vertical-align: top;
}

.list-field .product-list .thumb img {
	height: 125px;
}

.product-list .thumb {
	position: relative;
	display: block;
}

.product-list .thumb img {
	width: 100%;
	height: 343px;
}

.product-list .thumb {
	position: relative;
	display: block;
}

.product-list.vertical .thumb span {
	padding: 0;
}

.list-field .product-list .thumb+.contr {
	position: relative;
	padding-right: 130px;
	padding-bottom: 55px;
	min-height: 124px;
}

.product-list.vertical .thumb+.contr {
	width: calc(100% - 128px);
}

.product-list.vertical {
	position: relative;
	display: block;
}

.list-field .product-list .txt-ti {
	margin-bottom: 4px;
	max-height: 48px;
}

.product-list.vertical .txt-ti {
	margin-top: 5px;
	height: auto;
	line-height: 24px;
	color: #101010;
	font-size: 18px;
}

.list-field .product-list .info {
	position: absolute;
	left: 0;
	bottom: 8px;
	padding-right: 0;
	width: 100%;
	font-size: 0;
}

.list-field .product-list .info .txt-price {
	display: inline-block;
	margin-top: 0;
	line-height: 32px;
}

a {
	text-decoration: none !important;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px 45px;
}

.header .util a {
	margin-left: 24px;
	color: #aea7a2;
	font-size: 13px;
}

.gnb-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.gnb-list i {
	color: #767572;
}

.gnb-list li {
	color: #454545;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 22px;
}

.gnb-list .search {
	position: relative;
	margin-left: 28px;
}

.gnb-list .search input {
	width: 180px;
	height: 28px;
	border-color: #454545;
	background-color: #fff;
	border: 1px solid #454545;
	border-radius: 18px;
	padding: 0px 15px;
}

.gnb-list .search-icon {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(-50%, -50%);
}

.gnb-list .cart {
	margin-left: 25px;
	position: relative;
}

.gnb-list .cart .count {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff6913;
	position: absolute;
	top: 0;
	left: 10px;
}

.gnb-list .cart .count p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: white;
	line-height: 24px;
}

.contents {
	padding: 44px 0 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contents>.innercon {
	position: relative;
	margin: 0 auto;
	width: 1204px;
}

.innercon {
	padding-right: 404px;
}

.cont {
	display: block;
	padding-bottom: 40px;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.title-order{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-price{
	font-size: 25px;
	color:orange;
}
.productdetail_sub2 {
	position: absolute;
	left: 0;
	bottom: 8px;
	padding-right: 0;
	width: 100%;
	font-size: 20px;
}