@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
i,
p,
div,
span,
li {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 45px;
}

.header .util a {
  margin-left: 24px;
  color: #aea7a2;
  font-size: 13px;
}

.gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.gnb-list i {
  color: #767572;
}

.gnb-list li {
  color: #454545;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 22px;
}

.gnb-list .search {
  position: relative;
  margin-left: 28px;
}
.gnb-list .search input {
  width: 180px;
  height: 28px;
  border-color: #454545;
  background-color: #fff;
  border: 1px solid #454545;
  border-radius: 18px;
  padding: 0px 15px;
}

.gnb-list .search-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

.gnb-list .cart {
  margin-left: 25px;
  position: relative;
}

.gnb-list .cart .count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff6913;
  position: absolute;
  top: 0;
  left: 10px;
}

.gnb-list .cart .count p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 24px;
}

.contents {
  padding: 44px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .innercon {
  width: 1204px;
  display: flex;
  justify-content: center;
}

.contents .innercon .lnbarea {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 244px;
}

.contents .innercon .lnbarea h2 {
  color: #101010;
  font-size: 32px;
  font-weight: 600;
}

.contents .innercon .lnbarea .lnb-depth1 {
  padding-top: 28px;
}

.contents .innercon .lnbarea .lnb-depth1 a {
  line-height: 24px;
  color: #101010;
  font-size: 18px;
  font-weight: 600;
}

.contents .innercon .conarea {
  width: 960px;
}

.contents .lnbarea + .conarea > h3.tit {
  padding: 3px 0 23px;
  color: #101010;
  font-size: 24px;
  font-weight: 200;
}
.contents .lnbarea + .conarea > h3.tit.line {
  border-bottom: 2px solid #767572;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

.conarea .need {
  display: inline-block;
  margin-left: 4px;
  color: #767572;
  font-size: 15px;
}
.hide {
  position: absolute !important;
  left: -9999px;
}
.conarea .form-field legend {
  padding-top: 19px;
  line-height: 58px;
  color: #101010;
  font-size: 18px;
}
.conarea .form-field dl {
  display: table;
  margin-top: 8px;
  width: 100%;
  min-height: 42px;
}
.conarea .form-field dl:first-of-type {
  margin-top: 0;
}
.conarea .form-field dt {
  display: table-cell;
  width: 160px;
  line-height: 42px;
  vertical-align: top;
}
.conarea .form-field dd {
  position: relative;
  display: table-cell;
  color: #101010;
  vertical-align: middle;
}
.conarea .form-field dd > .btn {
  width: 112px;
}
.conarea .form-field dd .dd-txt {
  display: inline-block;
  line-height: 32px;
}
.conarea .form-field dd .dd-txt + .btn {
  margin-left: 40px;
  width: 60px;
}
.conarea .form-field dd > .form-entry {
  width: 456px;
}

.conarea .form-field .hpointpw .btn {
  margin-top: 5px;
  width: 240px;
}

.conarea .form-field .hpointpw .infotxt {
  margin-top: 8px;
}

.conarea .form-field .email-info {
  margin-bottom: 32px;
}

.conarea .form-field .email-info .form-entry {
  width: 456px;
}
button {
  font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  cursor: pointer;
  padding: 0;
  border: none;
  letter-spacing: -0.025em;
}

.btns {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0;
}
.btns > .btn {
  margin: 0 4px;
  width: calc(50% - 4px);
}
.btns > .btn:first-child {
  margin-left: 0;
}
.btns > .btn:last-child {
  margin-right: 0;
}
.btn {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background-color: #fff;
  vertical-align: top;
  border-radius: 0rem;
}

.btn.small {
  height: 32px;
  line-height: 20px;
  font-size: 15px;
}
.btn.black {
  color: #101010;
  border: 1px solid #101010;
}
button {
  background-color: transparent;
  outline: none;
}

.conarea .form-field .form-addr {
  width: 560px;
}

.conarea .form-field .form-addr > .post {
  width: calc(100% - 104px);
}

.conarea .form-field .form-addr > .post + .btn {
  width: 100px;
}

.conarea .form-field .form-addr input[type="checkbox"] + span {
  font-size: 15px;
}

.conarea .form-field .form-addr .delivery-noti {
  position: relative;
  margin-top: 8px;
  padding: 0 100px 36px 0;
}

.conarea .form-field .form-addr .delivery-noti > .btn-round {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}

.conarea .form-field .form-addr .delivery-noti li {
  color: #aea7a2;
}
.form-addr {
  position: relative;
}
.form-addr > strong.ti {
  display: block;
  margin-bottom: 11px;
  color: #101010;
  font-size: 15px;
  font-weight: 200;
}
.form-addr > strong.ti .need {
  display: inline-block;
  margin-left: 4px;
  color: #101010;
  font-size: 15px;
}
.form-addr > .post {
  margin-bottom: 8px;
  width: calc(100% - 100px);
  color: #aea7a2;
  background-color: #f3f3f3;
}
.form-addr > .post + .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
}
.form-addr > .post ~ input[type="text"] {
  color: #aea7a2;
  background-color: #f3f3f3;
}
.form-addr > strong.ti ~ .post ~ .btn {
  top: 35px;
}
.form-addr > strong ~ .post ~ .btn.big {
  font-size: 13px;
  font-weight: 600;
}
.form-addr .form-entry {
  margin-top: 8px;
}
.form-addr input[type="checkbox"] + span {
  margin-top: 12px;
  font-size: 13px;
}
input[readonly],
input:disabled,
input:disabled::placeholder {
  color: #aea7a2;
  -webkit-text-fill-color: #aea7a2;
  background: #f3f3f3;
}
.btn.fill.gray {
  color: #fff;
  background-color: #454545;
  border-color: #454545;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
  padding: 0 19px;
  width: 100%;
  height: 42px;
  line-height: 40px;
  font-size: 15px;
  color: #101010;
  border: 1px solid #dbd9d6;
  -webkit-appearance: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
  padding: 0 19px;
  width: 100%;
  height: 42px;
  line-height: 40px;
  font-size: 15px;
  color: #101010;
  border: 1px solid #dbd9d6;
  -webkit-appearance: none;
}

input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  min-height: 22px;
  color: #454545;
  user-select: none;
  cursor: pointer;
  line-height: 22px;
  font-size: 15px;
  vertical-align: top;
}

input[type="checkbox"]:disabled + span:before {
  background-position: -100px 0;
}

input[type="radio"]:disabled + span {
  color: #aea7a2;
  cursor: default;
}

.form-entry .btn-del {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 42px;
  text-align: left;
  text-indent: -9999px;
}
.form-entry .btn-del:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: url("../../images/common/btn.png") no-repeat -450px 0;
}
.form-entry input {
  padding-right: 63px;
}

.infotxt li {
  line-height: 24px;
  color: #767572;
  font-size: 13px;
  text-indent: -11px;
}
.btn-round {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 11px;
  height: 28px;
  line-height: 26px;
  color: #767572;
  font-size: 13px;
  font-weight: 200;
  text-align: left;
  border: 1px solid #dbd9d6;
  border-radius: 14px;
}
.btn-round:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-block;
  width: 8px;
  height: 10px;
  background: url("../../images/common/btn.png") no-repeat -400px -50px;
}
.conarea .col-input input + span {
  margin-right: 40px;
}

input[type="checkbox"].big + span {
  padding-left: 32px;
  min-height: 24px;
  line-height: 24px;
  color: #101010;
  font-size: 18px;
}
input[type="checkbox"].big + span:before {
  background-position: 0 -50px;
}
input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../../images/common/form.png");
}
.conarea .form-field .btns {
  margin-bottom: 80px;
  padding-top: 40px;
  border-top: 1px solid #f3f3f3;
}
.conarea .form-field .btns .btn {
  width: 276px;
}
.btn.big {
  height: 56px;
  line-height: 54px;
  font-size: 18px;
}
.btn.fill.black {
  color: #fff;
  background-color: #101010;
}
.conarea .withdrawal-area {
  margin-top: 8px;
  text-align: right;
}
.conarea .withdrawal-area p {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;
}
.conarea .withdrawal-area .btn-line {
  vertical-align: middle;
}
.btn-line {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  line-height: 1;
  color: #767572;
  font-size: 13px;
  font-weight: 200;
}
.btn-line:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin-top: -4px;
  width: 8px;
  height: 10px;
  background: url("../../images/common/btn.png") no-repeat -150px -50px;
}
