* {
	margin: 0;
	padding: 0;
}

body {
	height: 1800px;
	font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
	font-weight: 200;
	font-size: 15px;
	line-height: 1.6;
	color: #767572;
	letter-spacing: -0.025em;
	word-break: keep-all;
	word-wrap: break-word;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px 45px;
}

.header .util a {
	margin-left: 24px;
	color: #aea7a2;
	font-size: 13px;
}

.gnb-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.gnb-list i {
	color: #767572;
}

.gnb-list li {
	color: #454545;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 22px;
}

.gnb-list .search {
	position: relative;
	margin-left: 28px;
}

.gnb-list .search input {
	width: 180px;
	height: 28px;
	border-color: #454545;
	background-color: #fff;
	border: 1px solid #454545;
	border-radius: 18px;
	padding: 0px 15px;
}

.gnb-list .search-icon {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(-50%, -50%);
}

.gnb-list .cart {
	margin-left: 25px;
	position: relative;
}

.gnb-list .cart .count {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff6913;
	position: absolute;
	top: 0;
	left: 10px;
}

.gnb-list .cart .count p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: white;
	line-height: 24px;
}

/* exhibiton */
.exhibition {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.exhibition li {
	margin-bottom: 25px;
}

/* 로그인 폼 */
.login-input-form {
	padding: 20px 30% 20px 30%;
	margin: 0 auto;
	text-align : center;
}

.form-entry {
	padding: 0 auto;
	margin: 0 auto;
	width: 400px;
}

.big {
	height: 56px;
	line-height: 54px;
	width: 100%;
	padding-left: 20px;
}

.login-btn {
	margin-left: 195px;
    width: 400px;
	background-color: black;
    color: white;
	font-weight: bold;
}

.btn {
	--bs-btn-color: white;

}

.login-sub {
	width: 100%;	
	margin-bottom: 10px;
}

.login-sub a {
	color: gray;
}

.btn-group{
	text-align: right;
    width: 430PX;
}