<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./basketList.css" />
    <!-- CSS only -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
    <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <div class="contents">
      <div class="innercon">
        <div class="test"><h2>장바구니</h2></div>
        <div class="shipping">
          <p>배송 <em>1</em></p>
        </div>

        <form action="" id="frmBasktInfo">
          <div class="productList">
            <div class="basket_img">
              <img
                src="https://tohomeimage.thehyundai.com/PD/PDImages/S/6/0/5/S02205102506_00.jpg"
                alt="[커피빈] 파우치 3종"
              />
            </div>

            <div class="prod_ctn">
              <div class="txt_ellipsis">
                <p>[커피빈]파우치 3종</p>
                <button class="btn_delete"><i class="bi bi-x"></i></button>
            </div>
            <div class="info">
                <div class="ea-area">
                    <button type="button" class="btn-down" onclick="">수량낮추기</button>
                    <input type="number" title="수량 입력" name="ordQty" value="1" readonly="readonly">
                    <button type="button" class="btn-up" onclick="">수량올리기</button>
                    <em>1,190</em>원    
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="btn_order">
        <button id="order">주문하기</button>
      </div>
    </div>
  </body>
</html>
